<div>
    <div class="container">
        <div class="row">
            <div class="col-8 my-auto">
                <h1><%=t(".find_parts")%></h1>
            </div>
            <div class="col-4 my-auto ">
                <%= render "brands/form", order_prep: @order_prep %>
            </div>
        </div>
    </div>
    <%= render partial: "find_detail_preps/find"%>

    <%= render "find_detail_preps/table", find_details: @find_details, pagy: @pagy %>
</div>

