
<div class="btn-group">
    <%= button_to "LT", locales_path(locale: "lt"), method: :post, class: "btn btn-link d-inline text-white text-decoration-none"%>
    <%= button_to "EN", locales_path(locale: "en"), method: :post, class: "btn btn-link d-inline text-white text-decoration-none"%>
</div>

