
<div>
    <h1><%=t(".all_orders")%></h1>
    <div class="row">
        <div class="col-2 p-0">
            <%= render "search_filter", path: orders_path, q: @q %>
        </div>
        <div class="col ps-1">
            <%= render "orders/table", orders: @orders, pagy: @pagy %>
        </div>
    </div>
</div>