
<%= form_with(model: order_prep, local: true) do |form| %>
    <div class="input-group">
        <%#= form.label :brand_id %>
        <%= form.collection_select :brand_id, Brand.all, :id, :name, { prompt: "Select a Brand" }, { class: "form-control" } %>
        <%= form.submit "update", class: "btn btn-primary" %>
    </div>
<% end %>

