
<%= form_with(model: order_prep, local: true, html: { data: { turbo_confirm: "Are you sure change brand?" } }) do |form| %>
    <div class="input-group">
        <%= form.collection_select :brand_id, Brand.all.order(:name), :id, :name, { prompt: "Select a Brand" }, { class: "form-control" } %>
        <%= form.submit t(".update"), class: "btn btn-primary" %>
    </div>
<% end %>

