
<dialog id="turbo-confirm" class="rounded border border-black border-1">
    <form method="dialog">
        <div>
            <p>Are you sure?</p>
        </div>
        <div>
            <button value="cancel" class="btn btn-danger float-start m-1">Cancel</button>
            <button value="confirm" class="btn btn-success float-end m-1">Confirm</button>
        </div>
    </form>
</dialog>
